@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome @User.Identity.Name</h1>
    <p class="lead">
        This application allows the managers see absence notifications from employees.
    </p>
    
    <p class="lead">
        @ViewBag.Message
    </p>
</div>