@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application allows the employees to post the
    times of remote work at home and the absences during regular office hours (8-16).
</p>
